<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>MoneyUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="form-grid">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{ type ? 'Nuevo Ingreso 💰' : 'Nuevo Egreso 💸' }}
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form (ngSubmit)="onSubmit()" novalidate>

              <ion-item lines="none">
                <ion-label position="stacked">Descripción</ion-label>
                <ion-input
                  [(ngModel)]="description"
                  name="description"
                  required
                ></ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-label position="floating">Monto</ion-label>
                <ion-input
                  [(ngModel)]="amount"
                  name="amount"
                  type="number"
                  min="1"
                  required
                  (ionChange)="onAmountChange()"
                ></ion-input>
              </ion-item>

              <ion-button
                expand="block"
                type="submit"
                shape="round"
                [disabled]="!description || !amount"
                [ngClass]="type ? 'btn-ingreso' : 'btn-egreso'"
              >
                Registrar {{ type ? 'Ingreso' : 'Egreso' }}
              </ion-button>

            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
