<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFinancialTips()">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="card">
    <h2>Ahorro total</h2>
    <p>{{ totalSavings | currency }}</p>
  </div>

  <div class="card">
    <h2>Gastos totales</h2>
    <p>{{ totalExpenses | currency }}</p>
  </div>

  <div class="card">
    <h2>Ahorro de la semana pasada</h2>
    <p>{{ lastWeekSavings | currency }}</p>
  </div>

  <div *ngIf="showTips && consejos.length > 0">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Consejos Financieros</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li *ngFor="let consejo of consejos">{{ consejo }}</li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="showTips && consejos.length === 0">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Consejos Financieros</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>No hay consejos disponibles en este momento.</p>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Gráfico de pastel -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Distribución de Ingresos y Gastos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="pieChart"></canvas>
    </ion-card-content>
  </ion-card>

  <!-- Gráfico de barras -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Comparación de Ingresos y Gastos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="barChart"></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
